@media (min-width: 1200px){
    .post-body {
        font-size: inherit!important;
    }
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p, .excerpt, .behind, .meta, .post li {
    font-weight: 300;
}